.repos {
    padding: 2rem;
}

.repos .back-btn {
    height: 50px;
    width: 50px;
    background-color: #0c437a;
    color: #ddd;
    outline: none;
    border: none;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.repos .back-btn:hover {
    background-color: #105fad;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #ddd;
}

.user-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.light {
    color: #777;
    margin-bottom: .25rem;
}

.repos-list {
    padding: 1rem 0;
}

.repo {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
}

.repo p {
    font-size: 14px;
}

.bio.large{
    display: block;
}
.bio.small{
    display: none;
}

.repo-actions {
    margin-top: .5rem;
    display: flex;
    justify-content: start;
    gap: .5rem;
}

.repo-actions button {
    height: 35px;
    background-color: #0c437a;
    color: #ddd;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    padding: 0 1rem;
}

.repo-actions button:hover {
    background-color: #105fad;

}

@media screen and (max-width:786px) {
    .user-info img {
        width: 100px;
        height: 100px;
    }

    .user-details h1 {
        font-size: 1.5rem;
    }
.bio.large{
    display: none;
}
.bio.small{
    display: block;
    margin-top: 1rem;
    color: #ddd;
}
    .bio {
        font-size: 14px;
    }
}